<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>Ask Candidate Engine</title> 
  <!--site Attribute-->
  <meta name="description" content="Ask Candidate Engine">

  <!-- OG -->
  <meta property="og:title" content="Ask Candidate Engine" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="Ask Candidate Engine" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="Ask Candidate Engine" />
  <!-- OG -->

  <script type="text/javascript">
var socketioUrl = "<%= socketio_url %>";
var from = "<%= from %>";
var maxTweetLength = <%= max_tweet_length %>;


var candidates = ['1525274156', '1525299727', '1525296428', '1525274156', '1525299727'];
//var candidates = ['914304680', '153717550', '12392332', '2291282737', '102388128'];

</script>


  <!-- jquery -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/jquery-2.0.3.min.js"></script>
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/favico-0.3.4.min.js"></script>

  <link rel="stylesheet" href="css/plane.css">
  <link rel="stylesheet" href="css/common.css">

  <link rel="shortcut icon" href="img/logo.png" />

</head>

<body>


  <div id="wrapper">
    <!--wrapper-->
    <div id="background">

      <header id="header">
        <ul>
          <li>Ask Candidate Engine Ver1.0</li>
          <li>
            <ul class="shareBtn">

              <li>
                <div class="likeButton">
                  <div class="fb-like" data-href="http://example.com" data-width="300" data-layout="button_count" data-action="like"></div>
                </div>
              </li>
              <li>
                <div class="tweetButton">
                  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Ask Candidate Engine" data-lang="ja" data-related="Ask Candidate Engine" data-via="Ask Candidate Engine">ツイート</a>
                </div>
              </li>
              <li>
                <div class="pocketButton">
                  <a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="ja" ></a>
                </div>
              </li>
              <li>
                <div class="hatebuButton">
                  <a href="http://b.hatena.ne.jp/entry/example.com" class="hatena-bookmark-button" data-hatena-bookmark-title="Ask Candidate Engine" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加">
                    <img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" />
                  </a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </header>

      <section id="questionArea">
        <div class="left">
          <p class="pr">Ask Candidate Engine </p>
          <h1>
            Ask Candidate Engine
          </h1>
          <h2>#HashTag</h2>
          <div class="block">
            <form id="questionForm" action="/tweet" method='POST'>

              <textarea id="questionText" name="text" type="text" placeholder="Sample Question"></textarea>
              <button id="questionButton" type="button" class="btn question">POST</button>
              <p class="textCount">
                <%= max_tweet_length %></p>
            </form>
            
          </div>
        </div>
        <div class="right">
          <ul>
            <li class="candidate">
              <div class="user">
                <img class="icon" src="https://pbs.twimg.com/profile_images/428527592388321280/UKdaIlOy.png" />
                <div class="name">
                  <p>#HashTag</p>
                  <a href="https://twitter.com/yourtwitteraccount" target="_blank">@yourtwitteraccount</a>
                </div>
              </div>
              <div id="hashTweetCount" class="responseCount">0</div>

              <ul class="twitterTimelines">
                <li id="hashTweet" class="twitterTimeline">
                  <button class="new">
                    新しいツイートが
                    <span class="num">0</span>
                    件
                  </button>
                  <ul class="stream"></ul>
                </li>

              </ul>
            </div>
          </section>
          
         

        </div>
        <!--background-->

        <section id="timelineArea">

            <h2>Answer</h2>

            <ul class="candidatesHead">

              <li class="candidate">
                <div class="user">
                  <img class="icon" src="/img/logo.png" />
                  <div class="name">
                    <p>user</p>
                    <a href="https://twitter.com/user" target="_blank">@user</a>
                  </div>
                </div>
                <div id="uCount" class="responseCount">0</div>

                <ul class="candidateTimeLines">
                  <li id="uTweet" class="candidateTimeLine">
                    <ul class="qa"></ul>
                  </li>
                </ul>
              </li>

              <li class="candidate">
                <div class="user">
                  <img class="icon" src="/img/logo.png" />
                  <div class="name">
                    <p>user</p>
                    <a href="https://twitter.com/user" target="_blank">@user</a>
                  </div>
                </div>
                <div id="mCount" class="responseCount">0</div>

                <ul class="candidateTimeLines">
                  <li id="mTweet" class="candidateTimeLine">
                    <ul class="qa"></ul>
                  </li>
                </ul>
              </li>

              <li class="candidate">
                <div class="user">
                  <img class="icon" src="/img/logo.png" />
                  <div class="name">
                    <p>user</p>
                    <a href="https://twitter.com/user" target="_blank">@user</a>
                  </div>
                </div>
                <div id="iCount" class="responseCount">0</div>

                <ul class="candidateTimeLines">
                  <li id="iTweet" class="candidateTimeLine">
                    <ul class="qa"></ul>
                  </li>
                </ul>
              </li>

              <li class="candidate">
                <div class="user">
                  <img class="icon" src="/img/logo.png" />
                  <div class="name">
                    <p>user</p>
                    <a href="https://twitter.com/user" target="_blank">@user</a>
                  </div>
                </div>
                <div id="hCount" class="responseCount">0</div>

                <ul class="candidateTimeLines">
                  <li id="hTweet" class="candidateTimeLine">
                    <ul class="qa"></ul>
                  </li>
                </ul>
              </li>

              <li id="mobile" class="candidate">
                <div class="user">
                  <img class="icon" src="https://pbs.twimg.com/profile_images/428527592388321280/UKdaIlOy_bigger.png" />
                  <div class="name">
                    <p>QandA Timelines</p>
                    <a href="#"></a>
                  </div>
                </div>
                <div id="mobileCount" class="responseCount">0</div>

                <ul class="candidateTimeLines">
                  <li id="mobileTweet" class="candidateTimeLine">
                    <ul class="qa"></ul>
                  </li>
                </ul>
              </li>

            </ul>
          </section>


           <section id="tutorial">
            <h2>How to join.</h2>
            <ul>
              <li>
                <h3>STEP1</h3>
                <p>
                  brabrabra.
                </p>
              </li>
              <li>
                <h3>STEP2</h3>
                <p>
                  brabrabra.
                </p>
              </li>
              <li>
                <h3>STEP3</h3>
                <p>
                  brabrabra.
                </p>
              </li>
            </ul>
            <ul class="attention">
              <li>*attention</li>
            </ul>
          </section>


          
      <footer id="footer">
        <ul>
          <li>
            © Ask Candidate Engine, All rights Reserved.
          </li>
        </ul>
      </footer>
    </div>

    <!--wrapper fin-->

    <!--script for social buttons-->

    <!--Twitter-->
    <script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
    <!--Facebook-->
    <div id="fb-root"></div>
    <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=122682327907360";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
    <!--Hatena-->
    <script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    <!--Pocket-->
    <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
  </body>
</html>
